body {
  background-color: rgb(46, 46, 71);
  color: white;
  font-family: "Roboto", sans-serif;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 5%;
  background-color: rgb(12, 12, 36);
  color: white;
}
/* #addSkillForm {
} */
